{% extends 'base_generic.html' %}

{% block title %}Manage User{% endblock %}

{% block content %}
<h2>you are logged in as <i>{{ user.get_username }}</i></h2>
<ul>
    <li><a href="{% url 'account_change_password' %}">Change password</a></li>
    <li><a href="{% url 'account_email' %}">Change email</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
</ul>

<!--
accounts/ login/ [name='account_login']
accounts/ logout/ [name='account_logout']
accounts/ inactive/ [name='account_inactive']
accounts/ signup/ [name='account_signup']
accounts/ reauthenticate/ [name='account_reauthenticate']
accounts/ email/ [name='account_email']
accounts/ confirm-email/ [name='account_email_verification_sent']
accounts/ ^confirm-email/(?P(key)[-:\w]+)/$ [name='account_confirm_email']
accounts/ password/change/ [name='account_change_password']
accounts/ password/set/ [name='account_set_password']
accounts/ password/reset/ [name='account_reset_password']
accounts/ password/reset/done/ [name='account_reset_password_done']
accounts/ ^password/reset/key/(?P(uidb36)[0-9A-Za-z]+)-(?P(key).+)/$ [name='account_reset_password_from_key']
accounts/ password/reset/key/done/ [name='account_reset_password_from_key_done'] 
-->
{% endblock %}
