/* */
body {
    margin: 0;
}
.content {
    padding: 20px;
}
/* */
a {
    text-decoration:underline;
}
a:hover {
    text-decoration:none;
}
/* nav */
.nav {
    background: #476A86;
    background: linear-gradient(0deg, #476A86, #87A9F9);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    padding: 4px 8px;
    font-size:1.3em;
    font-weight:bold;
}
.nav a {
    color: #fff;
}
.nav a:hover {
    color: #eee;
}
.nav-hp {
    font-size:1.5em;
}

/* */
.bp-full {
    white-space: preserve;
}
.cmt-full {
    white-space: preserve;
}

/* */
.cmt:target {
   background-color: #ffa;
}

