{% extends 'base_generic.html' %}
{% load dtsince %} {% load static %}
{% block title %}{{ blogpost.title|truncatechars:50 }} - Diceblog{% endblock %}

{% block content %}
<div class="breadcrumb"><a href="{% url 'post-list' %}">&lt;&lt; back to post list</a></div>
<div class="bp">
    <h2 class="bp-title">{{ blogpost.title }}</h2>
    <div class="bp-h">posted by
        <span class="bp-author"><a href="{{ blogpost.author.get_absolute_url }}">{{ blogpost.author }}</a></span>
        <span class="bp-dt">{{ blogpost.publish_date|dtsince }}</span> ago
            <span class="bp-longdt">({{ blogpost.publish_date|date:"Y-m-d @ G:i:s" }} UTC)</span>
        {% if user == blogpost.author %}
            <span class="bp-edit"><a href="{% url 'post-update' author=blogpost.author pk=blogpost.id %}">[edit]</a></span>
            <span class="bp-delete"><a href="{% url 'post-delete' author=blogpost.author pk=blogpost.id %}">[delete]</a></span>
        {% endif %}
    </div>
    <p class="bp-full">{{ blogpost.pre_content }}</p>
</div>
<div class="cmtbox">
{% if user.is_authenticated %}
    <form method="post">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <input type="submit" name="cmtsubmit" value="Submit comment">
    </form>
{% else %}
    <textarea disabled>You're not logged in!</textarea>
    <input type="submit" disabled value="Submit comment">
{% endif %}
</div>
{% if blogpost.blogcomment_set %}
<div class="bp-commentcount">{{ blogpost.blogcomment_set.count }} comments total (including replies)</div>
<div class="cmtlist">
    {% for cmt in blogpost.blogcomment_set.all %}
    {% if not cmt.parent %}
    <div class="cmt" id="cmt-{{ cmt.id }}">
        <div class="cmt-h">
            {% if user == cmt.author %}<a href="{% url 'comment-delete' pk=cmt.pk %}" class="delete">
                <img src="{% static 'icons/bin30.png' %}" alt="Delete" class="icon-delete icon"></a>
            {% endif %}
            <span class="cmt-author">{{ cmt.author }}</span>
            <span class="cmt-dt">[{{ cmt.publish_date|dtsince }}]</span>
            <span class="cmt-longdt">({{ cmt.publish_date|date:"Y-m-d @ G:i:s" }} UTC)</span>
            {% if user.is_authenticated %}
            <button id="cmt-replybtn-{{ cmt.id }}" onclick="replyToggler('cmt-replyform-{{ cmt.id }}','cmt-replybtn-{{ cmt.id }}','Reply','Close')">Reply</button>{% endif %}
        </div>
        <p class="cmt-full">{{ cmt.content }}</p> 

{# replies #}
{% if cmt.blogcomment_set %}
        <div class="cmtre-list">
{% for reply in cmt.blogcomment_set.all %}
            <div class="cmtre">
                {% if user == reply.author %} <a href="{% url 'comment-delete' pk=reply.pk %}" class="delete">
                    <img src="{% static 'icons/bin30.png' %}" alt="Delete" class="icon-delete icon"></a>
                {% endif %}
                <span class="cmtre-author">{{ reply.author }}</span>
                <span class="cmtre-dt">[{{ reply.publish_date|dtsince }}]</span>:
                <span class="cmtre-full">{{ reply.content }}</span>
            </div>
{% endfor %}
        </div>
{% endif %}
        <div class="cmt-replyform" id="cmt-replyform-{{ cmt.id }}" style="display:none;">
    {% if user.is_authenticated %}
            <form method="post">
            {% csrf_token %}
                <textarea name="content"></textarea>
                <input hidden name="parent" value="{{ cmt.id }}">
                <input type="submit" name="replysubmit" value="Submit reply">
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<span>No comments.</span>
{% endif %}
{% endblock %}
