{% extends 'base_generic.html' %}

{% block content %}
{% if bloguser_list %}
<div class="usl-main usl-list">
    {# because "user" could cause some troubles with existing var #}
    {% for entry in bloguser_list %}
    <div class="usl-item">
        <h2 class="usl-name"><a href="{{ entry.get_absolute_url }}">{{ entry.username }}</a></h2>
        <div class="usl-desc">{{ entry.description|truncatechars:100 }}</div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="usl-main usl-nolist">
<p>No users found.</p>
</div>
{% endif %}
{% endblock %}

