{% extends 'base_generic.html' %}
{% load dtsince %}

{% block content %}
<div class="breadcrumb"><a href="{% url 'post-list' %}">&lt;&lt; back to post list</a></div>
<div class="bp">
    <div class="bp-title">{{ blogpost.title }}</div>
    <div class="bp-h">posted by
        <span class="bp-author"><a href="{{ blogpost.author.get_absolute_url }}">{{ blogpost.author }}</a></span>
        <span class="bp-dt">{{ blogpost.order|dtsince }}</span> ago
            <span class="bp-longdt">({{ blogpost.order|date:"Y-m-d @ G:i:s" }} UTC)</span>
        {% if user == blogpost.author %}
            <span class="bp-edit"><a href="{% url 'post-update' author=blogpost.author pk=blogpost.id %}">[edit]</a></span>
            <span class="bp-delete"><a href="{% url 'post-delete' author=blogpost.author pk=blogpost.id %}">[delete]</a></span>
        {% endif %}
    </div>
    <p class="bp-full">{{ blogpost.pre_content }}</p>
</div>
<div class="cmtbox">
{% if user.is_authenticated %}
    <form method="post">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <input type="submit" name="cmtsubmit" value="Post to {{ blogpost.id }}">
    </form>
{% else %}
    <textarea disabled>You're not logged in!</textarea>
    <input type="submit" disabled value="Post to {{ blogpost.id }}">
{% endif %}
</div>
{% if blogpost.blogcomment_set %}
<div class="bp-commentcount">{{ blogpost.blogcomment_set.count }} comments total</div>
<div class="cmtlist">
    {% for cmt in blogpost.blogcomment_set.all %}
    <div class="cmt" id="cmt-{{ cmt.id }}">
        <div class="cmt-h">
            <span class="cmt-author">{{ cmt.author }}</span>
            <span class="cmt-dt">{{ cmt.order|dtsince }}</span>
            <span class="cmt-longdt">({{ cmt.order|date:"Y-m-d @ G:i:s" }} UTC)</span>
            {% if user.is_authenticated %}<a class="cmt-replybutton" hx-get="
                {% url 'cmt-reply' pk=cmt.id %}" hx-target="#cmt-target-{{ cmt.id }}">Reply</a>{% endif %}
        </div>
        <p class="cmt-full">{{ cmt.content }}</p>
        <div id="cmt-target-{{ cmt.id }}"></div>
    </div>
    {% endfor %}
</div>
{% else %}
<span>No comments.</span>
{% endif %}
{% endblock %}
