{% extends 'base_generic.html' %}

{% block content %}
{% if bloguser_list %}
<div class="usl-main usl-list">
    {# because "user" could cause some troubles with existing var #}
    {% for entry in bloguser_list %}
    <div class="usl-item">
        <h2 class="usl-name"><a href="{{ entry.get_absolute_url }}">{{ entry.username }}</a></h2>
        <div class="usl-desc">{% if entry.description %}{{ entry.description|truncatechars:100 }}{% else %}<i>(no description)</i>{% endif %}</div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">prev</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<div class="usl-main usl-nolist">
<p>No users found.</p>
</div>
{% endif %}
{% endblock %}

