{% extends 'base_generic.html' %}
{% load dtsince %}
{% block title %}{{ bloguser.username }} - Diceblog{% endblock %}

{% block content %}
<div class="breadcrumb"><a href="{% url 'user-list' %}">&lt;&lt; back to user list</a></div>
<div class="up">
    <h2 class="up-title">{{ bloguser.username }}</h2>
    <div class="up-desc">
        <span class="up-full">{% if bloguser.description %}{{ bloguser.description }}{% else %}<i>(no description)</i>{% endif %}</span>
        {% if bloguser == user %} <a href="{% url 'user-update' pk=bloguser.id %}">[edit description]</a>
        {% endif %}
    </div>
</div>

<div class="uppl">
{% if bloguser.blogpost_set %}
    {% for post in bloguser.blogpost_set.all %}
    <div class="pvwi">
        <div class="pvwi-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </div>
        <div class="pvwi-h">
            <span class="pvwi-comments pvwi-comments-no-{{ post.blogcomment_set.count }}">{{ post.blogcomment_set.count }} comment{{ post.blogcomment_set.count|pluralize }}</span>       &bull; <span class="uppl-dt">{{ post.publish_date|dtsince }}</span> ago
            {% if user == bloguser %}
            <span class="pvwi-edit"><a href="{% url 'post-update' author=post.author pk=post.id %}">[edit]</a></span>
            <span class="pvwi-delete"><a href="{% url 'post-delete' author=post.author pk=post.id %}">[delete]</a></span>
            {% endif %}
        </div>
        <p class="pvwi-content">{{ post.pre_content|truncatechars:500 }}</p>
    </div>    
    {% endfor %}
{# add paginate buttons #}
{% else %}
No posts.
{% endif %}
</div>
{% endblock %}
