{% extends "base_generic.html" %}

{% block content %}
    <h1>Delete Post: {{ blogpost }}</h1>

    {% if blogpost.blogcomment_set.all %}
    <p>This post has comments, MAYBE this will work, look up some stuff if not -remove this later-</p>
    {% else %}
    <p>Confirm you want to delete this post?</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm deletion of {{ blogpost }}." />
    </form>
    {% endif %}
{% endblock %}
