{% extends 'base_generic.html' %}

{% block content %}
    <h2 class="bp-title">{{ blogpost.title }}</h2>
    <p class="bp-full">{{ blogpost.pre_content }}</p>
<div class="cmtbox">
    <button>write comment (TODO)</button>
</div>
{% if blogpost.blogcomment_set %}
    {% for cmt in blogpost.blogcomment_set.all %}
    <div class="cmt">
        <div class="cmt-header">
            <span class="cmt-author">{{ cmt.author }}</span>
        </div>
        <p class="cmt-full">{{ cmt.content }}</p>
    </div>    
    {% endfor %}
{% else %}
No comments.
{% endif %}
{% endblock %}
