{% extends 'base_generic.html' %}
{% load dtsince %}

{% block content %}
<div class="breadcrumb"><a href="{% url 'user-list' %}">&lt;&lt; back to user list</a></div>
<div class="up">
    <h2 class="up-title">{{ bloguser.username }}</h2>
    <p class="bp-full">{{ blogpost.pre_content }}</p>
</div>

<div class="uppl">
{% if bloguser.blogpost_set %}
    {% for post in bloguser.blogpost_set.all %}
    <div class="uppl-item" id="uppl-post-{{ post.id }}">
        <div class="uppl-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </div>
        <div class="uppl-h">
            <span class="uppl-comments uppl-comments-no-{{ post.blogcomment_set.count }}">{{ post.blogcomment_set.count }} comment{{ post.blogcomment_set.count|pluralize }}</span>       &bull; <span class="uppl-dt">{{ post.order|dtsince }}</span> ago
            {% if user == bloguser %}
            <span class="uppl-edit"><a href="{% url 'post-update' author=post.author pk=post.id %}">[edit]</a></span>
            <span class="uppl-delete"><a href="{% url 'post-delete' author=post.author pk=post.id %}">[delete]</a></span>
            {% endif %}
        </div>
        <p class="uppl-preview">{{ post.pre_content|truncatechars:500 }}</p>
    </div>    
    {% endfor %}
{% else %}
No posts.
{% endif %}
</div>
{% endblock %}
